{
	auto_https disable_redirects
}

portainer.home.arpa {
	reverse_proxy https://{$SERVER_IP}:9444 {
		header_up Host {http.request.hostport}
		transport http {
			tls_insecure_skip_verify
		}
	}
}

https://{$SERVER_IP}:9443 {
	tls internal
	reverse_proxy https://{$SERVER_IP}:9444 {
		header_up Host {http.request.hostport}
		transport http {
			tls_insecure_skip_verify
		}
	}
}

adguard.home.arpa {
	reverse_proxy {$SERVER_IP}:8280
}

{$SERVER_IP}:80 {
	reverse_proxy {$SERVER_IP}:8280
}

https://{$SERVER_IP}:8443 {
	tls internal
	reverse_proxy {$SERVER_IP}:8280
}

kuma.home.arpa {
	reverse_proxy {$SERVER_IP}:3101
}

https://{$SERVER_IP}:3001 {
	tls internal
	reverse_proxy {$SERVER_IP}:3101
}

web.home.arpa {
	reverse_proxy {$SERVER_IP}:8180
}

https://{$SERVER_IP}:8080 {
	tls internal
	reverse_proxy {$SERVER_IP}:8180
}

ntop.home.arpa {
	reverse_proxy {$SERVER_IP}:3300
}

https://{$SERVER_IP}:3000 {
	tls internal
	reverse_proxy {$SERVER_IP}:3300
}
